<html>
<head>
<title>Index Page</title>
</head>
<body>
<h1 align="center">Please sign in account!</h1>
<form method="POST" action="{{ url_for('login') }}">
  <div align="center">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
      <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    {{ form.username.label }}
    {{ form.username }}
    <ul>
    {% for error in form.username.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    {{ form.password.label }}
    {{ form.password }}
    {% for error in form.password.errors %}
    <ul>
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
  </div>
  <div align="center">
  {{ form.remember.label }}
  {{ form.remember }}
  </div>
  <div align="center">
    <button type="sign_up" id="myButton"> No account, want to sign up? </button>
    <button type="sign_in">Sign in</button>
  </div>
  <script type="text/javascript">
      document.getElementById("myButton").onclick = function () {
		      window.location = "http://0.0.0.0:5000/api/register";
	       }
  </script>
</form>
</body>
</html>
