<html>
<head>
<title>Sign Up Page</title>
</head>
<body>
<h1 align="center">Sign Up an Account!</h1>
<form method="POST" action="{{ url_for('sign_up') }}">
  <div align="center">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
      <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    {{ form.username.label }}
    {{ form.username }}
    <ul>
    {% for error in form.username.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    {{ form.password.label }}
    {{ form.password }}
    <ul>
    {% for error in form.password.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    {{ form.confirm.label }}
    {{ form.confirm }}
    <ul>
    {% for error in form.confirm.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
  </div>
  <div align="center">
    <button type="go_sign_in" id="myButton"> Back to login! </button>
    <button type="sign_up" >Sign Up</button>
  </div>
  <script type="text/javascript">
      document.getElementById("myButton").onclick = function () {
          window.location = "http://0.0.0.0:5000/login";
         }
  </script>

</form>
</body>
</html>
