
<div>
<button id="myButton"> Go to Home Page </button>
</div>
<script type="text/javascript">



	var i = 0;
	var data = {{items|tojson}};
	//print the data form database
	for(var item in data){
		if(data[0]["data"].length == 0){
			document.write("<p>There has no data in database<br/></p>");
			break;

		}
		else{
			document.write("<p> "+data[i]["data"]+" </p>");
			document.write("=========================================<br/>");
			}
		i++;

	}
		document.getElementById("myButton").onclick = function () {
		window.location = "http://0.0.0.0:5000/calc";
	}
</script>
