<html>
<head>
  <title>Username is used</title>
</head>
<body>
<h1>Username is used</h1>
  <p>Plaese try other username</p>
<p>Go back to sign up <a href="{{ url_for("sign_up") }}">register page</a>?</p>
</body>
</html>
